{% extends "base.html" %}

{% block content %}
<head>
    <title>HOME</title>
    <h5>Welcome to grocerystore</h5>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div class="container">
        <p>The best online grocerystore</p>
        <div class="row align-items-start">
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('userlogin') }}">Login</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('usersignup') }}">Sign up</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('adminlogin') }}">Admin Login</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('adminsignup') }}">Admin Signup</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
