{% extends "base2.html" %}
{% block content %}

<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userproducts.css') }}">
</head>
<body>
    <div class="container">
        <h3 class="prod">Products under {{ category.C_name }} :</h3>
        <div class="products-container d-flex flex-wrap">
            {% if not products %}
                <p style="font-size: 50px; color: red;">No products to display</p>
            {% else %}
                {% for product in products %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title" id="cardProductName">{{ product.P_name }}</h4>
                            <p class="card-text">Unit: {{ product.unit }}</p>
                            <p class="card-text">Price per Unit: {{ product.price_per_unit }}</p>
                            <p class="card-text">Manufacture/Expiry Date: {{ product.manf_exp_Date }}</p>
                            <!-- Add any other product details you want to display -->

                            <!-- Form to add product to cart with quantity input -->
                            <form class="addtocart" method="POST"  action="{{ url_for('add_to_cart', category_id=category.C_ID, product_id=product.P_ID,user=user) }}" >
                                <label for="quantity">Quantity:</label>
                                <input type="number" name="quantity" value="1" min="1">
                                <input type="submit" value="Add to Cart">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body> 
{% endblock %}
